Flask==2.3.3
gTTS==2.4.0
Werkzeug==2.3.7
Jinja2==3.1.2
MarkupSafe==2.1.3
itsdangerous==2.1.2
click==8.1.7
blinker==1.6.3
flask-cors
googletrans==4.0.0rc1
httpx==0.13.3
httpcore==0.9.1
deep-translator==1.11.4
gunicorn==21.2.0
pyttsx3
python-docx
PyPDF2